@charset "utf-8"

header{
    margin-top: 0px;
    margin-bottom: 10px;
}

body{
    background-image: url("../images/background_wormz.png");
    background-color:black;
    margin: auto;
}
	
#wrapper{
	margin: auto;
    width:960px;
    padding:0px;
    height:100%; 
}

header{
	background-color:#ffffff;
    position:fixed;
    width:100%;
    border:#ffffff;
    height:85px;
}


h1{
    width: 200px;
    border: solid;
    border-color: transparent;
    background-color:#4aaaa5;
    float:left;
    margin-left: 150px;
    padding:20px 15px 15px 15px;
    height: 45px;
    color: white;
    font-size:26px;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight:bold;
}

.navbar{
    color:darkgray;
    float:right; 
    margin-right:185px;  
    word-spacing:2px; 
    padding-top:30px;
}

.header-list{
    margin-right:3px;
    margin-left:3px;

}

ul{
    margin-left:200px;
    padding-top:30px;
    display:inline;
}

li{
    display:inline;
    border-right: 1px solid #bbb;
    padding-right: 2px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li:last-child {
    border-right:none;
}

a{
    text-decoration: none;
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2{ 
    color:#4aaaa5;
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size:22px;
    font-weight:bold;
    border:solid;
    border-style:hidden;
    padding: 25px 0px 10px 17px;
}

.about{
    margin-left:20px;
}

.profilePic{
    margin:2px;
    padding: 6px 10px 10px 10px;
}

#contentContainer{
	padding:10px 10px 0px 10px;
	overflow:hidden;
}

.info{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height:200%;
    word-spacing:1.5px;
    vertical-align:text-top;
    text-align:left;
    text-align:justify;
}
span{
    vertical-align:top;
}

#divAboveFooter{
    border:solid;
    background-color:#4aaaa5;
    border-color:#4aaaa5;
    width:100%;
    height:2px;
    position:fixed;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height: 50px;
    background-color:#666666;
}
.footerText{
    color:lightgray;
    text-align: center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight:bold;
    font-size:12px;
    border:solid;
    border-color:transparent;
    margin-top:20px;
}

#articleContainer{
    background-color:#ffffff;
    border:solid;
    border-color:#dddddd;
	width:650px;
	height:400px;
    float:left;
    margin-top:100px;
    display:block;
    overflow-wrap: break-word;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom:50px;
}

#profileImage-Paragraph{
    border:solid;
    border-style:hidden;
    padding:10px 10px 0px 10px;
}
	
aside{
    background-color:#ffffff;
    border:solid;
    border-color:#dddddd;
	width:270px;
	height:120px;
    float:right;
    overflow:hidden;
    vertical-align:top;
    margin-top:110px;
    text-align: center;
    padding-bottom:30px;
    font-size:24px;
    margin-right:0px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.connectHeading{
    padding-bottom:6px;
}

.hrule{

    width:93%;
    background-color:#dddddd;
    border:solid;
    border-color:transparent;
    height:0.1px;
    display:block;
    /*background-color:#dddddd;*/
}

.icon{
    width:50px;
    margin-right:10px;
    padding-top:5px;
}

/*-------------contact page------------------*/

.label{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.form{
    padding:30px;
}

.contactH1{
    width: 200px;
    border: solid;
    border-color: transparent;
    background-color: #4aaaa5;
    float: left;
    margin-left: 212px;
    padding: 20px 15px 15px 15px;
    height: 45px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.contentNavbar{
    color:darkgray;
    float:right; 
    margin-right:250px;  
    word-spacing:2px; 
    padding-top:30px;
}



/*------------portfolio page---------------*/
.portfolioH1{
    width: 200px;
    border: solid;
    border-color: transparent;
    background-color:#4aaaa5;
    float:left;
    margin-left: 216px;
    padding:20px 15px 15px 15px;
    height: 45px;
    color: white;
    font-size:26px;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight:bold;
}

.portfolioNavbar{
    color:darkgray;
    float:right; 
    margin-right:250px;  
    word-spacing:2px; 
    padding-top:30px;
}

.container{
    position:relative;
}

.center{
    position:absolute;
    left:0;
    top:80%;
    border:solid;
    background-color:#4aaaa5;
    border-color:#4aaaa5;
    height:30px;
    width:100%;
    text-align:center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:16px;
    color:white;
}

.gamePic{
    width:160px;
    padding:10px;
}

#firstTwoGames{
    float:left;
    margin-left:20px;
}

#thirdGame{
    float:left; 
    padding-top:60px;
    padding-left:30px;
    position: relative;
}

#lastTwoGames{
    float:left;
    padding-top:20px;
    padding-left:8px;
}

#allGames{
    border:solid;
    border-color:transparent;
    height:300px;
    width:600px;
}

/*.gameName{
    border:solid;
    border-color: #4aaaa5;
    padding: 5px;
    background-color:#4aaaa5;
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}*/